@import "tailwindcss";


@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}


.bg-obra-layout {
  @apply min-h-screen w-full bg-cover bg-center bg-no-repeat relative flex items-center justify-center p-4 md:p-8;
  background-image: url('./assets/fondo_obra.jpg');
}

.overlay-oscuro {
  @apply absolute inset-0 bg-slate-950/80 z-0;
}

.carpeta-blanca {
  @apply relative z-10 max-w-5xl w-full bg-white rounded-3xl shadow-2xl p-6 md:p-10 border border-white/20;
}